.hero
  position: relative
  &-slider
    width: 100%
    overflow: hidden
    &__button
      &-prev, &-next
        width: 15px
        height: 15px
        border: none
        border-top: 2px solid #ffffff !important
        border-right: 2px solid #ffffff !important
        background: none
        opacity: 0.2
        cursor: pointer
        &:hover
          opacity: 1
      &-next
        transform: rotate(45deg)
      &-prev
        transform: rotate(-135deg)
    &__controller
      position: absolute
      display: flex
      align-items: center
      justify-content: center
      bottom: 50px
      right: 0
      z-index: 1
      gap: 20px
    &__pagination
      display: flex
      gap: 24px
  &-slide
    padding-top: 264px
    padding-bottom: 257px
    z-index: -1
    min-height: 840px
    &:after
      content: '' 
      position: absolute
      width: 100%
      height: 100%
      top: 0
      bottom: 0
      left: 0
      right: 0
      background: #000000ba
      z-index: -1
  &-img
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    object-fit: cover
    height: 100%
    width: 100%
    z-index: -2
  &__wrapper
    margin: auto
    max-width: 1088px
    text-align: center
  &-title
    display: block
    font-family: 'bold'
    font-style: normal
    font-weight: 700
    font-size: $textSize-64
    line-height: $lineHeight-64
    color: $light
    margin-top: 0
    margin-bottom: 24px
  &-subtitle
    font-family: 'regular'
    font-style: normal
    font-weight: 500
    font-size: $textSize-24
    line-height: $lineHeight-29
    color: $light
    margin-top: 0
    margin-bottom: 56px
  &-button
    min-height: 64px
    padding: 0 64px